html, body {
    height: 100%;
    margin: 0;
  }
  body {
    background: blue;
    display: flex;
    align-items: center;
    justify-content: center;
  }
#player1{
    color:white;
    width: 150px;
    display:flex;
    justify-content: center;
}

#player2{
    color:white;
    width: 150px;
    display:flex;
    justify-content: center;
}
.score {
    font-size: 50px;
    font-weight: bold;
}
 
